.list-card {
  background-color: #eee;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

::ng-deep .p-accordionpanel {
  border-width: 1px !important;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #cbd5e1 !important;
}

.space-between {
  width: 100%;
}
