<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 25rem;">
    <div class="text-center mt-2 mb-5">
      <h3 class="login-title">Bienvenido de nuevo</h3>
      <small class="description">Inicia sesión en tu cuenta para continuar</small>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label class="form-label">Correo Electrónico</label>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-envelope"></i>
          </p-inputgroup-addon>
          <input type="email" pInputText formControlName="email" placeholder="Introduce tu correo electrónico"
            required />
        </p-inputgroup>
        <small class="novalid" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
          El email es obligatorio
        </small>
        <small class="novalid" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">
          Email no válido
        </small>
      </div>

      <div class="mb-1">
        <label class="form-label">Contraseña</label>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-lock"></i>
          </p-inputgroup-addon>
          <p-password styleClass="w-100" formControlName="password" [toggleMask]="true"
            placeholder="Introduce tu contraseña" [feedback]="false" required></p-password>
        </p-inputgroup>
        <small class="novalid"
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
          La contraseña es obligatoria
        </small>
      </div>

      <div class="forgot-pw mb-3">
        <small><a class="login-link" routerLink="#">¿Olvidé mi contraseña?</a></small>
      </div>

      <button type="submit" class="btn btn-success w-100 mb-3">
        Iniciar sesión
      </button>

      <div class="register-info">
        <small>¿No tienes cuenta? <a class="login-link" routerLink="/register">Regístrate</a></small>
      </div>
    </form>
  </div>
</div>
