<div class="container mb-5">
  <div class="d-flex">
    <!-- Formulario de creación -->
    <div class="w-30 card mr-3 p-4">
      <h3 class="mb-3">Genera tu CV</h3>

      <form [formGroup]="curriculumForm" (ngSubmit)="guardarCurriculum()">
        <!-- Título -->
        <div class="mb-3">
          <label class="form-label">Título *</label>
          <input type="text" pInputText formControlName="title" placeholder="Introduce el título" required />
          <small class="novalid" *ngIf="curriculumForm.get('title')?.touched && curriculumForm.get('title')?.invalid">
            El título es obligatorio.</small>
        </div>

        <!-- Resumen -->
        <div class="mb-3">
          <label class="form-label">Resumen</label>
          <div>
            <textarea pInputTextarea formControlName="summary" rows="3" placeholder="Introduce un resumen" class="w-100"
              autoResize="off"></textarea>
          </div>
        </div>

        <p-accordion value="0">
          <p-accordion-panel value="0">
            <p-accordion-header>Datos personales</p-accordion-header>
            <p-accordion-content>
              <!-- Nombre completo -->
              <div class="mb-3 pt-3">
                <label class="form-label">Nombre completo *</label>
                <input type="text" pInputText formControlName="name" placeholder="Introduce tu nombre completo"
                  required />
                <small class="novalid"
                  *ngIf="curriculumForm.get('name')?.touched && curriculumForm.get('name')?.invalid">
                  El nombre es obligatorio.</small>
              </div>

              <!-- Correo electrónico -->
              <div class="mb-3">
                <label class="form-label">Correo electrónico *</label>
                <input type="email" pInputText formControlName="email" placeholder="Introduce tu correo electrónico"
                  required />
                <small class="novalid"
                  *ngIf="curriculumForm.get('email')?.touched && curriculumForm.get('email')?.invalid">
                  El correo electrónico es obligatorio.</small>
              </div>

              <!-- País -->
              <div class="mb-3">
                <label class="form-label">País *</label>
                <input type="text" pInputText formControlName="country" placeholder="Introduce tu país" required />
                <small class="novalid"
                  *ngIf="curriculumForm.get('country')?.touched && curriculumForm.get('country')?.invalid">
                  El país es obligatorio.</small>
              </div>

              <!-- Ciudad -->
              <div class="mb-3">
                <label class="form-label">Ciudad *</label>
                <input type="text" pInputText formControlName="city" placeholder="Introduce tu ciudad" required />
                <small class="novalid"
                  *ngIf="curriculumForm.get('city')?.touched && curriculumForm.get('city')?.invalid">
                  La ciudad es obligatoria.</small>
              </div>

              <!-- Teléfono -->
              <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input type="text" pInputText formControlName="phone" placeholder="Introduce tu teléfono" />
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="1">
            <p-accordion-header>Header II</p-accordion-header>
            <p-accordion-content>
              <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo
                enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores
                eos
                qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
              </p>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="2">
            <p-accordion-header>Configuración</p-accordion-header>
            <p-accordion-content>
              <div class="mb-3 pt-3">
                <label class="form-label">Tema *</label>
                <div>
                  <p-dropdown formControlName="theme" [options]="themes" placeholder="Selecciona un tema"
                    styleClass="w-100"></p-dropdown>
                  <small class="novalid"
                    *ngIf="curriculumForm.get('theme')?.touched && curriculumForm.get('theme')?.invalid">
                    El tema es obligatorio.</small>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Idioma *</label>
                <div>
                  <p-dropdown formControlName="language" [options]="languages" placeholder="Selecciona un idioma"
                    styleClass="w-100"></p-dropdown>
                  <small class="novalid"
                    *ngIf="curriculumForm.get('language')?.touched && curriculumForm.get('language')?.invalid">
                    El idioma es obligatorio.</small>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>

        <div class="botonera">
          <p-button type="button" label="Descargar" icon="pi pi-download" severity="info" styleClass="mr-2"
            (click)="descargarCurriculum()"></p-button>
          <p-button type="submit" label="Guardar CV" icon="pi pi-save"></p-button>
        </div>
      </form>
    </div>

    <!-- Vista previa -->
    <div class="w-70 card p-4">
      <p>Contenido principal del currículum</p>
    </div>
  </div>
</div>
