.w-70 {
  width: 70% !important;
}

.w-30 {
  width: 30% !important;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.botonera {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
