.register-title {
  font-weight: 700;
}

.description {
  color: #5b5b5b;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.login-info {
  text-align: center;
}

.login-link {
  color: #198754;
  text-decoration: none;
}
