@import "primeicons/primeicons.css";

body {
  background: url('assets/images/pattern.svg') repeat;
  background-attachment: fixed;
}

.form-label {
  font-weight: 600;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16.4px;
}

a {
  text-decoration: none;
  color: #0d6ffd;
}

.mandatory {
  color: orange;
}

input {
  width: 100%;
  box-shadow: 0 3px 0 0 #cbd5e1 !important;
}

.p-message-text {
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}

p-select {
  width: 100%;
  box-shadow: 0 3px 0 0 #cbd5e1 !important;
}

p-select.p-paginator-rpp-dropdown {
  width: auto;
}

textarea {
  width: 100%;
  box-shadow: 0 3px 0 0 #cbd5e1 !important;
}

.p-datepicker {
  width: 100%;
}

.p-datepicker-dropdown {
  box-shadow: 0 3px 0 0 #cbd5e1 !important;
}

.p-button-success {
  box-shadow: 0 3px 0 0 #16a34a !important;
}

.p-button-info {
  background: #0d6ffd !important;
  border-color: #0d6ffd !important;
  box-shadow: 0 3px 0 0 #0a5dda !important;
}

.p-button-info:hover {
  background: #0a5dda !important;
  border-color: #0a5dda !important;
}

.p-button-danger {
  box-shadow: 0 3px 0 0 #dc2626 !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler {
  border: none;
  padding: 0.15rem 0rem;
}

.offcanvas-header .btn-close {
  margin-top: -0.5rem;
  margin-right: 0.4rem;
}

.p-progressspinner-circle {
  stroke: #0d6ffd !important;
}

.container.logged-page {
  background-color: white;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  .container.logged-page {
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
  }
}

@media (max-width: 576px) {
  .btn-discard .p-button-label { display: none; }
  .btn-discard .p-button-icon { margin-right: 0; }
}

.p-datatable-thead > tr > th.p-datatable-column-sorted {
  background-color: #e4efff !important;
  color: #0d6ffd !important;
}
