<p-toast></p-toast>

<app-navigation *ngIf="isAuthenticated"></app-navigation>

<div class="app-layout" *ngIf="isAuthenticated">
  <!-- Sidebar (desktop) -->
  <div class="sidebar d-none d-lg-block">
    <div class="p-3">
      <a href="/" class="p-2">
        <img src="assets/images/logotipo.webp" alt="CVGen" height="50">
      </a>

      <ul class="nav flex-column mt-5">
        <li class="nav-item"><a class="nav-link active" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/curriculums">Currículums</a></li>
        <li class="nav-item"><a class="nav-link text-decoration-line-through" href="#">Plantillas</a></li>
      </ul>
    </div>
  </div>

  <!-- Contenido principal -->
  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!isAuthenticated">
  <router-outlet></router-outlet>
</div>

<app-loading-overlay></app-loading-overlay>
