.navbar {
  padding: 0.5rem;
  box-shadow: 0 1px 10px 0 #cbd5e1 !important;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10000;
}

ul {
  margin-right: -1rem;
}

li {
  background-color: #f1f1f1;
  padding: 0.25rem 0 0 1rem;
  margin-bottom: 0.25rem;
  border-radius: 8px;
}

li a {
  font-weight: 500;
}

li a:hover {
  color: black;
}
